<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.user.mapper.UserAddressMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.gmall.model.user.UserAddress">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="userAddress" column="user_address" jdbcType="VARCHAR"/>
            <result property="consignee" column="consignee" jdbcType="VARCHAR"/>
            <result property="phoneNum" column="phone_num" jdbcType="VARCHAR"/>
            <result property="isDefault" column="is_default" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,province_id,
        user_address,consignee,phone_num,
        is_default,create_time,update_time,
        is_deleted
    </sql>
</mapper>
